h1 {color: #ffffff;
	font-family: 'Lato', sans-serif;
    font-size: 4rem;
    font-weight: 300;
    line-height: 3rem;
    margin: 0 0 3rem;}
h5 {color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 2.1rem;
    font-weight: 300;
    line-height: 1rem;
    margin: 0 0 1rem;}
p {color: #adb7bd;
	font-family: 'Lucida Sans', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.1rem;
    /*text-indent: 30px;*/
    margin: 0;}
a{color: #fe921f;
	text-decoration: underline;}
a:hover {color: #ffffff;}
.date {background: #fe921f;
	color: #ffffff;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.1rem;
    letter-spacing: 0.2rem;
    margin: 0 0 2rem;
    padding: 1px 1px 1px;
    text-transform: uppercase; }
body {background-color: #1c2329;
    margin: 0px;}
.container {
    background-color: #1c2329;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(5 1fr);
    grid-template-rows: 2.2rem 1fr 1fr 1fr;
    gap: 0.7rem;
    padding: 1rem;
    box-sizing: border-box;}
.container div {padding: 0.7rem;}
.header {
    grid-column-start: 1;
    grid-column-end: 5;}
.main {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;}
.accordion-button {
    display: block;
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    font-size: 1.6rem;
    text-align: left;
    cursor: pointer;
    transition: background 0.2s;
    background: #0b0e11;
    color: #adb7bd}
.accordion-button::after {
    content: '\25be';
    float: right;
    transform: scale(1.5);}
.accordion-button:focus + .accordion-content {display: block;}
.accordion-button:focus {
    background-color: #333333;}
.accordion-button:focus::after {
    content: '\25b4';}
.accordion-content {
    /*overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;*/
    padding: 0 1.2rem;
    display: none;
    overflow: auto;
    background: #13171d;}
/* .content-pregunta {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;}
.content-side {
    grid-column-start: 3;
    grid-column-end: 5; } */
.tg  {border-collapse:collapse;
	border-color:#bbb;
    border-spacing:0;
    margin-left: auto;
    margin-right: auto;}
.tg td{background-color:#E0FFEB;
	border-color:#bbb;
    border-style:solid;
    border-width:0px;
    color:#594F4F;
    font-family:Arial, sans-serif;
    font-size:1.6rem;
    overflow:hidden;
    padding:1rem 0.8rem;
    word-break:normal;}
.tg th{background-color:#9DE0AD;
	border-color:#bbb;
    border-style:solid;
    border-width:0px;
    color:#493F3F;
    font-family:Arial, sans-serif;
    font-size:1.6rem;
    font-weight:normal;
    overflow:hidden;
    padding:1rem 0.8rem;
    word-break:normal;}
.tg .tg-m0f0{background-color:#343434;
	color:#adb7bd;
    text-align:center;
    vertical-align:top}
.tg .tg-z0qj{background-color:#343434;
	border-color:#333333;
    color:#adb7bd;
    text-align:center;
    vertical-align:top}
.tg .tg-4m9d{background-color:#656565;
	color:#adb7bd;
	text-align:center;vertical-align:top}
.tg .tg-4vjy{background-color:#656565;
	color:#adb7bd;
    text-align:center;
    vertical-align:top}
